@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Inter&family=M+PLUS+1p:wght@300&family=Roboto:wght@100;300&family=Rubik&display=swap');


body{
    background-color: black;
    font-family: 'Rubik';
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 4rem;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid grey;
}
#btnMenu{
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3.5rem;
    width: 3.5rem;
    left: 2rem;
}
#btnMenu i{
    scale: 3;
}
#btnMenu i:hover{
    cursor: pointer;
}
#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 50%;
    border-radius: 100px;
    border: 2px solid grey;
    background-color: transparent;
    color: rgb(224, 224, 93);
    text-align: center;
    font-size: 1.5rem;
}
#menu{
    position: fixed;
    background-color: black;
    height: calc(100vh - 4rem);
    width: 0vw;
    top: 4rem;
    left: 0;
    z-index: 100;
    transition: all 0.1s;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid grey;
    overflow: auto;
}
#menu *{
    transition: opacity 0s;
}
#menu ul{
    width: 100%;
}
#menu li{
    font-size: 1.2rem;
    border-bottom: 2px rgb(169, 169, 79) solid;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#menu::-webkit-scrollbar{
    height: 0;
}
ul{
    list-style-type: none;
}
#container{
    background-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 4rem;
    transition: all 0.1s;
}
#container::-webkit-scrollbar,
body::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.card{
    background-color: rgb(189, 232, 182);
    height: 30vh;
    width: 12vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding-bottom: 2rem;
    transition: scale 0.3s;
    box-sizing: border-box;
    margin: 0.25rem;
}
.imgCardCont{
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.imgCardCont img{
    height: 100%;
    width: auto;
    scale: 1.1;
    transition: all 0.3s;
}
.pokemonNameCard{
    font-size: 1.5rem;
}

/* big card */

#bigCard{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
#bigCard > *{
    position: relative;
    height: 60%;
}
#bigCardCont{
    position: relative;
    background-color: rgb(84, 69, 71);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
#movesContainer{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid grey 1.5px;
}
#titleMoves{
    background-color: violet;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
#moves{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10rem;
    overflow: auto;
    position: relative;
    box-shadow: 0 0 10px grey;
}
.move{
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    border-bottom: solid grey 1.5px;
}

/* format */
#format{
    position: absolute;
    height: 50%;
    width: 5rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    color: rgb(255, 255, 0);
    border-radius: 100px;
    border: 2px solid rgb(169, 169, 79);
}
#format:hover{
    cursor: pointer;
    user-select: none;
}
#container.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card.list{
    flex: 1;
    position: relative;
    width: 40vw;
    height: 12rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.card.list .imgCardCont{
    width: 10rem;
    height: 10rem;
}